/Atualização
/IBPT
*.dcu
/manuais
/settings
/Adjutor.stat
/Adjutor.drc
/Adjutor.dsk
/Adjutor.identcache
/Adjutor.ini
/Adjutor.map
/Adjutor.res
/Adjutor.dproj.local
/iphist.dat
/cxPropertiesStore1
/Run.exe
settings
*.exe
*.dsk
*.local
*.map
*.res
*.rsm
*.stat
TEMP
/Adjutor.ficfg
/Adjutor.tvsconfig
/dfmpas2/*.dcu
/dfmpas2/Animacao.dcu
/dfmpas2/AutorizaForm.dcu
/dfmpas2/Balanco.dcu
/dfmpas2/Ban0001.dcu
/dfmpas2/Ban0002.dcu
/dfmpas2/BaseDbEstoqueForm.dcu
/dfmpas2/BaseDbFaturamentoForm.dcu
/dfmpas2/BaseDBPesquisaGerarFDAC.dcu
/dfmpas2/bkp00001.dcu
/dfmpas2/Caixa001.dcu
/dfmpas2/Caixa002.dcu
/dfmpas2/CartaCorrecaoNFe.dcu
/dfmpas2/CCT0001.dcu
/dfmpas2/CEL0001.dcu
/dfmpas2/CEL0002.dcu
/dfmpas2/CEL0003.dcu
/dfmpas2/Cel0005.dcu
/dfmpas2/CEL0006.dcu
/dfmpas2/CEL0007.dcu
/dfmpas2/CEL0008.dcu
/dfmpas2/CEL0009.dcu
/dfmpas2/CEL0010.dcu
/dfmpas2/CELN0007.dcu
/dfmpas2/CestForm.dcu
/dfmpas2/Cheque0002.dcu
/dfmpas2/CID0001.dcu
/dfmpas2/CID0002.dcu
/dfmpas2/Cli0001.dcu
/dfmpas2/CLI0004.dcu
/dfmpas2/cnab0001.dcu
/dfmpas2/cnab0002.dcu
/dfmpas2/cnab0003.dcu
/dfmpas2/Comimedia.dcu
/dfmpas2/ConfiguraBancoForm.dcu
/dfmpas2/ConsultaEstruturaForm.dcu
/dfmpas2/ConsultarCNPJ.dcu
/dfmpas2/ContatoCliente.dcu
/dfmpas2/copiarEngenharia.dcu
/dfmpas2/CPRA001.dcu
/dfmpas2/CSOSNForm.dcu
/dfmpas2/CteXML.dcu
/dfmpas2/ctexmlopcao.dcu
/dfmpas2/Cus0001.dcu
/dfmpas2/Cus0002.dcu
/dfmpas2/CustoFabricaCentroCusto.dcu
/dfmpas2/DataCad.dcu
/dfmpas2/DataCad1.dcu
/dfmpas2/DataMov.dcu
/dfmpas2/DataMov2.dcu
/dfmpas2/Dep0001.dcu
/dfmpas2/DiretivasItemForm.dcu
/dfmpas2/DmProdu.dcu
/dfmpas2/DmSysCfg.dcu
/dfmpas2/EditCestForm.dcu
/dfmpas2/EditCompartilhamentoDb.dcu
/dfmpas2/EditCSOSNform.dcu
/dfmpas2/EditDiretivaItemForm.dcu
/dfmpas2/EditIBPTForm.dcu
/dfmpas2/EditTabelasForm.dcu
/dfmpas2/EFD0001.dcu
/dfmpas2/Email0000.dcu
/dfmpas2/EMAIL0001.dcu
/dfmpas2/Emp0001.dcu
/dfmpas2/EnfIndustrializacao.dcu
/dfmpas2/EtiqGerenciador.dcu
/dfmpas2/Eve0001.dcu
/dfmpas2/Evr0001.dcu
/dfmpas2/ExportCodFornForm.dcu
/dfmpas2/ExportProdutoExcelForm.dcu
/dfmpas2/ExportProdutoImport.dcu
/dfmpas2/Fat0000.dcu
/dfmpas2/Fat0000_etiquetas.dcu
/dfmpas2/Fat0000_Romaneio.dcu
/dfmpas2/Fat0002.dcu
/dfmpas2/Fat0003.dcu
/dfmpas2/Fat0004.dcu
/dfmpas2/Fat0005.dcu
/dfmpas2/fat0007.dcu
/dfmpas2/fat0008.dcu
/dfmpas2/fat0009.dcu
/dfmpas2/fat0010.dcu
/dfmpas2/FATPARC.dcu
/dfmpas2/Flu0001.dcu
/dfmpas2/Flu0001Simples.dcu
/dfmpas2/Flu0002.dcu
/dfmpas2/FluCx0001.dcu
/dfmpas2/For0001.dcu
/dfmpas2/For0002.dcu
/dfmpas2/For0003.dcu
/dfmpas2/frmApontamentoFab.dcu
/dfmpas2/FrmEventoOcorrencia.dcu
/dfmpas2/frmPesqLote.dcu
/dfmpas2/FrmTemporario.dcu
/dfmpas2/Ftc0001.dcu
/dfmpas2/Ftc0002.dcu
/dfmpas2/ftc0003.dcu
/dfmpas2/GImpAdmi.dcu
/dfmpas2/GImpBoletos.dcu
/dfmpas2/GImpCel.dcu
/dfmpas2/GImpCFix.dcu
/dfmpas2/GimpCheques.dcu
/dfmpas2/GImpClie.dcu
/dfmpas2/GImpComp.dcu
/dfmpas2/GimpCust.dcu
/dfmpas2/GImpDupl.dcu
/dfmpas2/GImpEve.dcu
/dfmpas2/GimpFichaCliente.dcu
/dfmpas2/GImpForn.dcu
/dfmpas2/GimpOC.dcu
/dfmpas2/GImpOPrd.dcu
/dfmpas2/GImpPaga.dcu
/dfmpas2/GImpPedi.dcu
/dfmpas2/GImpProd.dcu
/dfmpas2/GImpRece.dcu
/dfmpas2/GImpRepr.dcu
/dfmpas2/GimpReqCompra.dcu
/dfmpas2/GImpTran.dcu
/dfmpas2/IBPTForm.dcu
/dfmpas2/ICMS0000.dcu
/dfmpas2/ImpCh.dcu
/dfmpas2/ImportarXMLMigracaoNovi.dcu
/dfmpas2/importCliente.dcu
/dfmpas2/importProduto.dcu
/dfmpas2/IndTipoRetorno.dcu
/dfmpas2/InsereRateioColaboradorForm.dcu
/dfmpas2/InsereRateioCustoForm.dcu
/dfmpas2/InsereRateioIndiceForm.dcu
/dfmpas2/KAR0001.dcu
/dfmpas2/KAR0002.dcu
/dfmpas2/KAR0003.dcu
/dfmpas2/KAR0004.dcu
/dfmpas2/LicencaForm.dcu
/dfmpas2/markup001.dcu
/dfmpas2/Men0001.dcu
/dfmpas2/Mnt0001.dcu
/dfmpas2/MonOperacoes.dcu
/dfmpas2/Motivo.dcu
/dfmpas2/Nat0001.dcu
/dfmpas2/Nfe40_main.dcu
/dfmpas2/NfeInutilizar.dcu
/dfmpas2/Nfs0001.dcu
/dfmpas2/Nfs0002.dcu
/dfmpas2/Nfs0003.dcu
/dfmpas2/Nfs0004.dcu
/dfmpas2/nfse_principal.dcu
/dfmpas2/OCP0001.dcu
/dfmpas2/Ocp0002.dcu
/dfmpas2/Ope0001.dcu
/dfmpas2/Ope0002.dcu
/dfmpas2/Opv00001.dcu
/dfmpas2/Osv0001.dcu
/dfmpas2/Osv0002.dcu
/dfmpas2/Osv0005.dcu
/dfmpas2/Osv0006.dcu
/dfmpas2/OsvN0001.dcu
/dfmpas2/OsvN0002.dcu
/dfmpas2/OsvN0003.dcu
/dfmpas2/OsvN0007.dcu
/dfmpas2/OsvN0008.dcu
/dfmpas2/Pag0001.dcu
/dfmpas2/Pag0002.dcu
/dfmpas2/Pag0004.dcu
/dfmpas2/Pag0007.dcu
/dfmpas2/Pag0008.dcu
/dfmpas2/Pag0009.dcu
/dfmpas2/Pcl0001.dcu
/dfmpas2/Pcl0002.dcu
/dfmpas2/Pcp0001.dcu
/dfmpas2/Pcp0002.dcu
/dfmpas2/PCX0000.dcu
/dfmpas2/PCX0001.dcu
/dfmpas2/PCX0002.dcu
/dfmpas2/Ped0004.dcu
/dfmpas2/Ped0008.dcu
/dfmpas2/Ped0009.dcu
/dfmpas2/PesqApontamentos.dcu
/dfmpas2/PesqCodigoOriginal.dcu
/dfmpas2/PesqCores.dcu
/dfmpas2/PesqCTe.dcu
/dfmpas2/PesqPedidoGrade.dcu
/dfmpas2/PesqTipoProduto.dcu
/dfmpas2/PesquisaClientesForm.dcu
/dfmpas2/PesquisaTabelasForm.dcu
/dfmpas2/PesqUnidade.dcu
/dfmpas2/PesqVendaPerdida.dcu
/dfmpas2/Prd0001.dcu
/dfmpas2/Prd0002.dcu
/dfmpas2/Prd0003.dcu
/dfmpas2/Prd0004.dcu
/dfmpas2/Prd0005.dcu
/dfmpas2/Prd0006.dcu
/dfmpas2/PRD0011.dcu
/dfmpas2/Prd0012.dcu
/dfmpas2/Prd0013.dcu
/dfmpas2/PrdMedio.dcu
/dfmpas2/PrdPreco.dcu
/dfmpas2/PrevC001.dcu
/dfmpas2/PrevC002.dcu
/dfmpas2/PrevC003.dcu
/dfmpas2/PrevC004.dcu
/dfmpas2/PrevCN002.dcu
/dfmpas2/Prmd0001.dcu
/dfmpas2/Prmd0002.dcu
/dfmpas2/ProdutosPorVendedorForm.dcu
/dfmpas2/ReajusteTabelaPrecosForm.dcu
/dfmpas2/Rec0001.dcu
/dfmpas2/Rec0002.dcu
/dfmpas2/Rec0003.dcu
/dfmpas2/Rec0004.dcu
/dfmpas2/Rec0005.dcu
/dfmpas2/Rec0006.dcu
/dfmpas2/Rec0007.dcu
/dfmpas2/RecErro.dcu
/dfmpas2/Reg0001.dcu
/dfmpas2/RelatoriosPedidoForm.dcu
/dfmpas2/Rep0001.dcu
/dfmpas2/Rep0002.dcu
/dfmpas2/REQ0001.dcu
/dfmpas2/RNOP0001.dcu
/dfmpas2/RNOP0002.dcu
/dfmpas2/RWFunc.dcu
/dfmpas2/Sab0001.dcu
/dfmpas2/Sab0002.dcu
/dfmpas2/ScriptForm.dcu
/dfmpas2/SelectStyleForm.dcu
/dfmpas2/SEQ0000.dcu
/dfmpas2/ShareDb.dcu
/dfmpas2/SIE0000.dcu
/dfmpas2/SINTEGRA.dcu
/dfmpas2/sis00072.dcu
/dfmpas2/Sped.dcu
/dfmpas2/SpedFiscal.dcu
/dfmpas2/STR0001.dcu
/dfmpas2/STR0002.dcu
/dfmpas2/TelaCopiaProdutoForm.dcu
/dfmpas2/TRANSFCLIE.dcu
/dfmpas2/TRANSFCTACAIXA.dcu
/dfmpas2/Trib0001.dcu
/dfmpas2/Trp0001.dcu
/dfmpas2/TRP0002.dcu
/dfmpas2/uAcabamentoSupEdit.dcu
/dfmpas2/uAlterarFaturaParcela.dcu
/dfmpas2/uapontar.dcu
/dfmpas2/uAprovarPag.dcu
/dfmpas2/uArameEdit.dcu
/dfmpas2/uArtefatoEdit.dcu
/dfmpas2/uASCii.dcu
/dfmpas2/uAutorizaPedidoAbaixoMinimo.dcu
/dfmpas2/uAvisos.dcu
/dfmpas2/uBackupRestore.dcu
/dfmpas2/UBarra.dcu
/dfmpas2/uCadastroConversaoMedida.dcu
/dfmpas2/uCadastroDiretiva.dcu
/dfmpas2/uCadastroFinanceiroHistoricoLancamentos.dcu
/dfmpas2/uCadastroFormaPagamento.dcu
/dfmpas2/uCadastroFrases.dcu
/dfmpas2/uCadastroGrade.dcu
/dfmpas2/uCadastroLote.dcu
/dfmpas2/uCadastroPerfilRateio.dcu
/dfmpas2/uCadControleDeQualidade.dcu
/dfmpas2/uCadParametrosDaQualidade.dcu
/dfmpas2/uCheque.dcu
/dfmpas2/uChequeCadastro.dcu
/dfmpas2/uChequeStatus.dcu
/dfmpas2/uClassificacaoEdit.dcu
/dfmpas2/uClienteDao.dcu
/dfmpas2/uClienteOrigem.dcu
/dfmpas2/uCnae.dcu
/dfmpas2/UColaborador.dcu
/dfmpas2/uConclusaoOP.dcu
/dfmpas2/uConfirmaDemanda.dcu
/dfmpas2/uConsulaMarkup.dcu
/dfmpas2/uConsulaMarkupManu.dcu
/dfmpas2/uConsulaMarkupPedido.dcu
/dfmpas2/UContaCorrenteCredito.dcu
/dfmpas2/uControleDeQualidade.dcu
/dfmpas2/uControleNFIndustrializacao.dcu
/dfmpas2/uCopiaUsuario.dcu
/dfmpas2/uCoresEdit.dcu
/dfmpas2/uCotacaoCadastro.dcu
/dfmpas2/UCotacaoPesquisa.dcu
/dfmpas2/uDashboradCom.dcu
/dfmpas2/uDataSimples.dcu
/dfmpas2/uDemandaProducao.dcu
/dfmpas2/uDetalheFluxo.dcu
/dfmpas2/uDetalheInadimplencia.dcu
/dfmpas2/uDetSaldoFluxo.dcu
/dfmpas2/uEditCustoPro.dcu
/dfmpas2/uEditISS_Municipio.dcu
/dfmpas2/uEditOrcamentoPRO.dcu
/dfmpas2/uEditProcessos.dcu
/dfmpas2/uEditServicoPro.dcu
/dfmpas2/uedParamQualidade.dcu
/dfmpas2/uEmpenharLote.dcu
/dfmpas2/uEngenhariaProcesso.dcu
/dfmpas2/uEntradaNotaPedidoCompra.dcu
/dfmpas2/uEntradaNotaXml.dcu
/dfmpas2/uEntradaNotaXmlItem.dcu
/dfmpas2/uEntradaNotaXmlOpcao.dcu
/dfmpas2/uEntradaSaidaProdutos.dcu
/dfmpas2/uEnvasar.dcu
/dfmpas2/uEnvaseProdutos.dcu
/dfmpas2/UEquip.dcu
/dfmpas2/uEspecificacao.dcu
/dfmpas2/uEstruturaFicha.dcu
/dfmpas2/uEtiquetasEntrada.dcu
/dfmpas2/uEtiquetasExpedicao.dcu
/dfmpas2/uEtiquetasExpedicao2.dcu
/dfmpas2/uEtiquetasProdutos.dcu
/dfmpas2/uEtqFaturamento.dcu
/dfmpas2/uExpSeparacao.dcu
/dfmpas2/uFaturamentoNotaFiscal.dcu
/dfmpas2/uFaturamentoNotaFiscalOpcao.dcu
/dfmpas2/uFiltroExportarExcel.dcu
/dfmpas2/uFinanceiroAnaliseCredito.dcu
/dfmpas2/uFinanceiroAnaliseCreditoCliente.dcu
/dfmpas2/uFinanceiroAnaliseCreditoConfirma.dcu
/dfmpas2/uFinanceiroConciliacao.dcu
/dfmpas2/uFinanceiroConciliacaoLancamento.dcu
/dfmpas2/uFinanceiroConciliacaoTransferencia.dcu
/dfmpas2/uFinanceiroDao.dcu
/dfmpas2/uFinanceiroManutencaoRateio.dcu
/dfmpas2/uFinanceiroPlanoContasCentroCusto.dcu
/dfmpas2/uFornecedorDao.dcu
/dfmpas2/ufrmPreviewRB.dcu
/dfmpas2/uFrmTarefas.dcu
/dfmpas2/UFUNCOES.dcu
/dfmpas2/uGanchoEdit.dcu
/dfmpas2/uGerarCarga.dcu
/dfmpas2/uGerenciamentoPCP.dcu
/dfmpas2/uGiroDoEstoque.dcu
/dfmpas2/uHistoricoExpedicao.dcu
/dfmpas2/uimportFornecedor.dcu
/dfmpas2/uIncApontaIndustrial.dcu
/dfmpas2/uIndustrializacaoPorKit.dcu
/dfmpas2/uInfLote.dcu
/dfmpas2/uJustificativa.dcu
/dfmpas2/uK280.dcu
/dfmpas2/uMercosAtualizacao.dcu
/dfmpas2/uModificacaoOperacaoProcessoFabricacao.dcu
/dfmpas2/uNaturezaOperacaoDao.dcu
/dfmpas2/uNotaFiscalDao.dcu
/dfmpas2/uNovaEtiquetaEntradas.dcu
/dfmpas2/uNovoAponta.dcu
/dfmpas2/uNovoApontamentoImprime.dcu
/dfmpas2/UOcorrencia.dcu
/dfmpas2/uOdemProgramacao.dcu
/dfmpas2/UOPERACOES.dcu
/dfmpas2/uOrcamentoItemPro.dcu
/dfmpas2/uparamResultado.dcu
/dfmpas2/uPedido.dcu
/dfmpas2/uPedidoCancelamento.dcu
/dfmpas2/uPedidoConsultaProducao.dcu
/dfmpas2/uPedidoDAO.dcu
/dfmpas2/UPedidoDoacao.dcu
/dfmpas2/uPedidoItem.dcu
/dfmpas2/uPedidoPCP.dcu
/dfmpas2/uPedidoPCPLanca.dcu
/dfmpas2/UPedidoPesqDoacao.dcu
/dfmpas2/uPedidoProducao.dcu
/dfmpas2/uPedidoReajuste.dcu
/dfmpas2/uPedidosExpedicao.dcu
/dfmpas2/uPedidoTipo.dcu
/dfmpas2/uPedidoTipoInicial.dcu
/dfmpas2/uPedidoWeb.dcu
/dfmpas2/uPedidoWebAcao.dcu
/dfmpas2/uPesqAcabamentoSup.dcu
/dfmpas2/uPesqArame.dcu
/dfmpas2/uPesqArtefato.dcu
/dfmpas2/uPesqChaveRefer.dcu
/dfmpas2/uPesqClassificacao.dcu
/dfmpas2/uPesqCliOrigem.dcu
/dfmpas2/uPesqCodigoOriginalFabricante.dcu
/dfmpas2/UPesqColaborador.dcu
/dfmpas2/UPesqContaCorrenteCredito.dcu
/dfmpas2/uPesqCreditoFatura.dcu
/dfmpas2/uPesqEmpresa.dcu
/dfmpas2/UPesqEquip.dcu
/dfmpas2/uPesqFormaPrecos.dcu
/dfmpas2/uPesqGancho.dcu
/dfmpas2/uPesqInadimplencia.dcu
/dfmpas2/uPesqISSMunicipio.dcu
/dfmpas2/UPesqOcorrencia.dcu
/dfmpas2/uPesqOCP.dcu
/dfmpas2/UPesqOperacoes.dcu
/dfmpas2/UPesqOrcamentoPRO.dcu
/dfmpas2/uPesqParametrosDaQualidade.dcu
/dfmpas2/uPesqpcp.dcu
/dfmpas2/uPesqPedidoIndus.dcu
/dfmpas2/uPesqProcessos.dcu
/dfmpas2/uPesqRenovacao.dcu
/dfmpas2/UPesqServico.dcu
/dfmpas2/uPesqServicoPRO.dcu
/dfmpas2/uPesqSetor.dcu
/dfmpas2/uPesqTarefas.dcu
/dfmpas2/uPesqTipoEmbalagem.dcu
/dfmpas2/uPesqTipoMola.dcu
/dfmpas2/uPesqTratamento.dcu
/dfmpas2/uPesqTurno.dcu
/dfmpas2/uPesquisaOperacaoProcessoFabricacao.dcu
/dfmpas2/uPivotCliente.dcu
/dfmpas2/uPlanoContasCentroCusto.dcu
/dfmpas2/uPlanoContasCentroCustoCopia.dcu
/dfmpas2/uPlanoContasCentroCustoManual.dcu
/dfmpas2/uPosicaoEstoque.dcu
/dfmpas2/uPrevisaoCompras.dcu
/dfmpas2/uProcessarNF.dcu
/dfmpas2/uProducaoDAO.dcu
/dfmpas2/uProducaoSemPedido.dcu
/dfmpas2/uProdutoCompraVenda.dcu
/dfmpas2/uProdutoDao.dcu
/dfmpas2/uProdutoEnderecamento.dcu
/dfmpas2/uProgramacaoProcessoFabricacao.dcu
/dfmpas2/uQualidadeProducao.dcu
/dfmpas2/uRecibo.dcu
/dfmpas2/uRegularizacaoEstoque.dcu
/dfmpas2/uRegularizacaoEstoquePesq.dcu
/dfmpas2/uRelatorioInventarioCiclico.dcu
/dfmpas2/uRenovacao.dcu
/dfmpas2/uRentabilidadeOS.dcu
/dfmpas2/uResultadoInspecao.dcu
/dfmpas2/uSelProduto.dcu
/dfmpas2/UServico.dcu
/dfmpas2/USetor.dcu
/dfmpas2/uSimulacaoPrecoServico.dcu
/dfmpas2/usobre.dcu
/dfmpas2/uSolicitacaoCompra.dcu
/dfmpas2/uSolicitacaoCompraCadastro.dcu
/dfmpas2/Usuar001.dcu
/dfmpas2/UTipoEmbalagem.dcu
/dfmpas2/uTipoMolaEdit.dcu
/dfmpas2/uTransfTitulos.dcu
/dfmpas2/uTratamentoEDIT.dcu
/dfmpas2/uTurno.dcu
/dfmpas2/uUndTributaria.dcu
/dfmpas2/uUnidade.dcu
/dfmpas2/uVinculacaoIndustrializacaoRetorno.dcu
/dfmpas2/uVinculacaoIndustrializacaoRetornoVincula.dcu
/dfmpas2/uVinculandoServico.dcu
/dfmpas2/uXMLSCOAManaus.dcu
/dfmpas2/val0002.dcu
/dfmpas2/Almox0001.dcu
/dfmpas2/Almox0002.dcu
/Adjutor.rsm
/infosaga/*.dcu
/restful/ClasseProdutos.dcu
/restful/ClasseTabelaPrecos.dcu
/restful/ClasseVendedor.dcu
/restful/ClasseCliente.dcu
/restful/ClasseFaturamento.dcu
/restful/ClassePedido.dcu
/uIndustrializacao_SitObs.dcu
